#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .footerBanner {
    padding-bottom: 2rem;
    height: 100px;
    background: #8b8c89;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 2em;
      color: white;
    }
  }
}
