#nav {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .links {
    flex: 1 1 10rem;
    height: 100%;
    justify-content: flex-end;
    ul {
      text-decoration: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 2rem;
      a {
        text-decoration: none;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        margin: 2rem;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }
}
