#projects {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
  margin: 10rem 0 0 0;

  .projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1 {
      text-align: center;
      font-size: 6rem;
      color: #274c77;
    }
    .underline {
      border-bottom: 2px solid #274c77;
      width: 60%;
    }
  }
  .projectsContainer {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .rec-arrow-left {
      background-color: #a3cef1;
      color: black;
    }
    .rec-arrow-left:hover {
      background-color: #274c77;
      color: white;
    }
    .rec-arrow-right {
      background-color: #a3cef1;
      color: black;
    }
    .rec-arrow-right:hover {
      background-color: #274c77;
      color: white;
    }
    .rec-dot {
      height: 1.8rem;
      width: 1.8rem;
    }
    .rec-dot:focus {
      border-color: #274c77;
    }
    .rec-dot:hover {
      border-color: #274c77;
    }
    .rec-dot_active {
      background-color: #274c77;
    }
    .guuruq:hover,
    .guuruq:focus {
      cursor: pointer;
      box-shadow: 0 0 1px 3px rgba(66, 154, 255, 1);
    }
    .cJeRRR:hover,
    .cJeRRR:focus {
      cursor: pointer;
      box-shadow: 0 0 1px 3px rgba(66, 154, 255, 1);
    }
    .cJeRRR {
      background-color: rgba(66, 154, 255, 1);
      box-shadow: 0 0 1px 3px rgba(0, 109, 203, 1);
    }
    .carouselContainer {
      width: 75%;
      height: 600px;
      margin: 2rem;
      .rec-item-wrapper {
        height: 50vh;
        .projectItem {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            width: 100%;
            object-fit: cover;
          }
          h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            font-size: 5rem;
            font-weight: bold;
            text-align: center;
            z-index: 5;
            transition: opacity 0.5s ease-in-out;
            background-color: #e7ecef;
            color: #274c77;
            border-radius: 20px;
          }
          .projectInfoContainer {
            display: flex;
            opacity: 0;
            padding: 2rem;
            position: absolute;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: opacity 0.5s ease-in-out;
            background-color: #8b8c89;
            height: 100%;
            width: 100%;

            .underline {
              border-bottom: 2px solid black;
              width: 60%;
            }
            p {
              width: 75%;
              font-size: 3rem;
              text-align: left;
              color: #a3cef1;
            }
            h4 {
              font-size: 3rem;
              font-weight: bold;
              color: #a3cef1;
              text-align: center;
              span {
                font-size: 2rem;
              }
            }
            .links {
              display: flex;
              justify-content: space-around;
              align-items: center;
              font-size: 5rem;
              width: 50%;
              .link {
                display: fle mx;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span {
                  font-size: 3rem;
                  font-weight: bold;
                  color: #e7ecef;
                  transition: all 0.25s ease-in;
                }
                svg {
                  color: #e7ecef;
                  transition: all 0.25s ease-in;
                }
              }
              .link:hover {
                span {
                  color: #006dcb;
                }
                svg {
                  color: #006dcb;
                }
              }
            }
          }
        }
      }
      .rec-item-wrapper:hover {
        h1 {
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }
        .projectInfoContainer {
          transition: opacity 0.5s ease-in-out;
          display: flex;
          opacity: 1;
        }
      }
    }
  }
}
