.skills {
  display: flex;
  flex-direction: column;
  align-items: center;

  .skillsInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem;
    h2 {
      font-size: 5rem;
      text-align: center;
      width: 100%;
      margin: 0;
    }
    .underline {
      border-bottom: 2px solid black;
      width: 70%;
    }
  }

  .skillsCollection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 0 20rem;
    max-width: 1400px;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1 1 3rem;
      padding: 1rem;
      img {
        object-fit: cover;
        width: 250px;
        height: 250px;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }
}
