body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.app {
  position: relative;
}
#about,
#skills,
#projects,
#footer {
  height: 100vh;
}

//imports
@import './styles/nav.scss';
