@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@400;700&display=swap');
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}
.app {
  position: relative;
}

//imports
@import './styles/nav.scss';
@import './styles/scrollButton.scss';
@import './styles/about.scss';
@import './styles/skills.scss';
@import './styles/projects.scss';
@import './styles/contact.scss';
@import './styles/footer.scss';
